html {
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Playfair Display', serif;
  background-color: #fdfafa;
  counter-reset: V;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wrapper {
  width: 970px;
  margin: 0 auto;
}

.main-header {
  width: 970px;
  margin: 0 auto;
  padding: 18px;
}

.main-navigation {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}

.main-navigation::before {
  counter-increment: V;
}

.main-navigation li {
  float: left;
  padding: 30px;
}

.main-navigation a {
  color: #3d3d3d;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  padding: 10px;
}

.main-navigation li:not(:last-child) {
  margin-right: 20px;
}

.main-navigation a:hover,
.main-navigation a:focus,
.social-links a:hover,
.social-links a:focus,
.main-info-item a:hover,
.main-info-item a:focus,
.main-item-page a:hover,
.main-item-page a:focus {
  color: #9747ff;
}

.content-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-item-list {
  float: left;
  max-width: 419px;
}

.content-item-list:nth-child(n) {
  padding: 30px;
}

.content-item-list img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content-item-list h2 {
  color: #0E1116;
  background: linear-gradient(0deg, #88292F 25%, #5DB7DE 65%, #0D5D56 75%);
  line-height: 24px;
  font-size: 16px;
  text-transform: uppercase;
}

.content-item-list h3 {
  color: #0E1116;
  background: linear-gradient(180deg, #88292F, #5DB7DE, #0D5D56);
  line-height: 23px;
  font-size: 16px;
  text-align: left;
  padding: 5px
}

.content-item-list p {
  background: linear-gradient(270deg, #88292F 20%, #5DB7DE 40%, #0D5D56 60%);
  text-align: left;
  color: #0E1116;
  font-size: 16px;
  margin-bottom: 5px;
}

.main-item-p {
  padding: 2px;
  width: 970px;
  text-align: center;
}

.main-item-page li {
  display: inline-block;
  vertical-align: top;
}

.main-item-page li:not(:last-child) {
  margin-right: 17px;
}

.main-item-page {
  text-decoration: none;
  color: black;
  margin-bottom: 25px;
}

.main-item-page li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 5px;
}

.main-item-page li::before {
  content: "\2192";
}

.main-footer {
  margin: 0 auto;
  padding: 30px;
}

.social {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 400px;
  margin-right: 100px;
  text-align: right;
  background: linear-gradient(270deg, #88292F 25%, #5DB7DE 40%, #0D5D56 60%);
}

.social-links li {
  width: 250px;
  padding: 10px;
  margin-bottom: 15px;
  list-style-type: none;
  font-size: 16px;
}

.social-links a {
  color: #0E1116;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  padding: 30px;
  margin-bottom: 10px;
}

.info {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 400px;
  background: linear-gradient(90deg, #88292F 25%, #5DB7DE 43%, #0D5D56 65%);
}

.main-info-item {
  width: 300px;
  height: auto;
  padding: 5px;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 16px;
  color: #0E1116;
}

.main-info-item li {
  padding: 10px;
  margin-bottom: 35px;
}

.main-info-item a {
  text-decoration: none;
  color: #0E1116;
  padding: 30px;
}

.info li {
  counter-increment: V;
  list-style-type: none;
  text-decoration: none;
}

.info li::before {
  content: counter(V, lower-roman);
  color: rgb(7, 4, 38);
  margin-bottom: 25px;
}

.main-info-item:hover li::before {
  color: #9747ff;
}

.foot-button {
  text-align: center;
  width: 120px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
  background: #ffff;
  color: #3a3b3b;
  border-radius: 1px;
  cursor: pointer;
}

.foot-button:hover {
  transform: scale(1.01);
}