html {
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Playfair Display', sans-serif;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wrapper {
  width: 970px;
  margin: 0 auto;
}

.navigation-box {
  padding: 10px;
}

.menu {
  list-style: none;
  padding: 0px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item a {
  display: inline-block;
  padding: 20px;
  color: #424242;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu-item a:not(:last-child) {
  margin-right: 12px;
}

.submenu-item a {
  display: inline-block;
  padding: 15px 70px;
  width: 100px;
  color: #242323;
  background-color: rgb(238, 239, 240);
  text-decoration: none;
}

.submenu-item a:focus,
.menu-item a:focus {
  color: #df089f;
}

.submenu-item a:hover,
.menu-item a:hover {
  color: #0853df;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  max-width: 100%;
  left: 0;
  list-style: none;
  background-color: rgb(167, 94, 189);
  text-align: center;
}

.menu-item:hover>.submenu {
  display: block;
}

.submenu-item {
  white-space: nowrap;
}

.content {
  height: 970px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.3);
}

.mustbe {
  padding: 25px;
}

.bigbox {
  display: inline-block;
  position: absolute;
  height: 400px;
  width: 400px;
  left: 25%;
  transform: translateX(40%);
  background-color: #424242;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
}

.one {
  top: 0%;
  left: 0px;
  background: rgb(253, 73, 18);
}

.two {
  top: 0%;
  left: 50px;
  transform: translateX(100%);
  background: rgb(255, 240, 37);
}

.tree {
  top: 0%;
  right: 0px;
  background: rgb(177, 255, 51);
}

.four {
  top: 25%;
  left: 0px;
  transform: translateY(50%);
  background: rgb(64, 160, 49);
}

.five {
  top: 25%;
  left: 50px;
  transform: translate(100%, 50%);
  background: rgb(250, 9, 81);
}

.sixt {
  right: 0px;
  top: 25%;
  transform: translateY(50%);
  background: rgb(65, 235, 190);
}

.seven {
  bottom: 0%;
  left: 0px;
  background: rgb(13, 0, 255);
}

.eight {
  bottom: 0%;
  left: 100px;
  transform: translateX(50%);
  background: rgb(248, 6, 228);
}

.nine {
  right: 0px;
  bottom: 0%;
  background: rgb(102, 51, 153);
}

.foot-button {
  text-align: center;
  width: 120px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
  background: #ffff;
  color: #3a3b3b;
  border-radius: 1px;
  cursor: pointer;
}

.foot-button:hover {
  transform: scale(1.01);
}